body.admin-login{
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:Arial;
}
.login-box{
    background:#fff;
    padding:30px;
    border-radius:12px;
    width:350px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}
