body{background:#0B1C2D;color:#F5F7FA}
.navbar{background:#081420}
.nav-link,.navbar-brand{color:#D4AF37!important}
.card{background:#081420;border:1px solid #D4AF37}
.card-title{color:#fff}
.card p{color:#e5e7eb}
.harga{color:#e6c766;font-weight:bold}
footer{background:#081420;color:#D4AF37}
